@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(249, 249, 249);
}
*{
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.custom-placeholder {
  font-family: 'Baloo Bhaijaan 2', cursive;
}


.app-container {
  display: flex;
  height: 100%;
 
}


.active {
  background-color: #97B980; 
  color: #fff;
}


.content-container {
  flex: 1;
  overflow-y: auto;
}

.map{
  display: flex;
  justify-content: center;
}

.loginPage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}
.welcome{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}

.centerInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.ProfileMenu{
  background-color: #97B980;
 border-radius: 10px;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background:  #aec99b;
  padding: 1px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background:  #97B980;
}


.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle, .circle::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: #FF0055;
}

.circle::before {
  animation: mymove 2s infinite;
  position: absolute;
  background-color: #00FF00
}

@keyframes mymove {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}


/* Styles for the upload images section */
.upload-images-section {
  margin-top: 20px;
  text-align: right;
}



.image-upload-instructions {
  font-size: 14px;
  color: #666; /* Grey text */
  margin-top: 5px;
}

.error-message {
  color: #ff0000; /* Red text */
  margin-top: 5px;
}

/* Styles for image previews */
.image-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: right;
  margin-top: 20px;
}

.image-preview {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: relative; /* Needed for absolute positioning of delete button */
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Add some spacing between previews */
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  border-bottom-left-radius: 4px;
}



.carousel {
  position: relative;
 max-width: 400px;
 max-height: 400px;  
  /* margin: auto; */
  overflow: hidden;
}

.carousel-items .carousel-item {
  display: none;
  text-align: center;
}

.carousel-items .carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%; /* Make images responsive */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.58);
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}



.timeline-container {
  padding: 20px;
  
}

.timeline {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  position: relative;
 
}
.line {
  width: 12rem;
  margin-bottom: 60px;
  height: 3px;
  border-radius: 1.5px; /* Adds rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds subtle shadow */
}

.line[data-status="waiting"] {
  background-color: rgb(191, 191, 191);
}

.line[data-status="inprogress"] {
  background: linear-gradient(to right, rgb(191, 191, 191) 50%, #97B980 50%);
}

.line[data-status="executed"] {
  background-color: #889494; /* Slightly adjusted color for better contrast */
}




/* 
.line{
 width: 12rem;
margin-bottom: 60px;
height: 3px;
}

.line[data-status="waiting"]  {
  background-color: rgb(191, 191, 191);
}
.line[data-status="inprogress"]  {
  background: linear-gradient(to right, rgb(191, 191, 191), #97B980);
}
.line[data-status="executed"] {
  background-color: rgb(136, 148, 148);
} */
/* .timeline::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c4c2c2;
  z-index: 1;
  margin-left: 80px;
  margin-right: 100px;
} */




.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  
}

.timeline-marker {
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds subtle shadow */
}

.timeline-content {
  text-align: center;
}

.timeline-time {
  font-weight: bold;
  margin-bottom: 5px;
}



/* ...other styles for coloring based on status... */
/* 
 .timeline-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.timeline {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.timeline::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ddd; 
  z-index: 1;
} 

.timeline-item {
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}


.timeline-marker {
  position: relative;
 
  height: 40px;

  border: 3px solid #3498db; 
}

.timeline-content {
  margin-top: 10px;
}

.timeline-time {
  margin-bottom: 5px;
  font-weight: bold;
}

 */



.timeline-item[data-status="waiting"] .timeline-marker {
  background-color: rgb(191, 191, 191);
}

.timeline-item[data-status="inprogress"] .timeline-marker {
  background-color: #97B980;
}
.timeline-item[data-status="executed"] .timeline-marker {
  background-color: rgb(136, 148, 148);
} 
.timeline-item[data-status="rejected"] .timeline-marker {
  background-color: #FE5500;
}

.timeline-item[data-status="approved"] .timeline-marker {
  background-color: #97B980;
}
  
