@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(249, 249, 249);
}
*{
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.app-container {
  display: flex;
  height: 100%;
 
}

.accountContainer{
  display: flex;
  
}
.accountContaineritem1{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar {
  /* Your sidebar styles */
  /* position: fixed; */

}

.active {
  background-color: #97B980; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  /* Add any other styles you want for the active item */
}


.content-container {
 /* Adjust margin to the width of the sidebar */
 /* margin-right: 20rem; */
  /* padding: 1rem; */
  flex: 1;
  overflow-y: auto;
}

.map{
  display: flex;
  justify-content: center;
  /* border:  #97B980 solid 5px;
  border-radius: 20px; */
  /* width: '950px';
  height: '500px';  */
}

.loginPage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}
.welcome{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}

.centerInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.descriotion{
  width: 350px;
  max-height: 100px;
  overflow: auto;
}

.ProfileMenu{
  background-color: #97B980;
 border-radius: 10px;

}


.large-time-picker {
  font-size: 16px; /* Adjust the font size as needed */
  width: 120px; /* Adjust the width as needed */
  padding: 8px; /* Adjust the padding as needed */
  /* Add any other styles you need */
}