@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(249, 249, 249);
}
*{
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.custom-placeholder {
  font-family: 'Baloo Bhaijaan 2', cursive;
}


.app-container {
  display: flex;
  height: 100%;
 
}


.active {
  background-color: #97B980; 
  color: #fff;
}


.content-container {
  flex: 1;
  overflow-y: auto;
}

.map{
  display: flex;
  justify-content: center;
}

.loginPage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}
.welcome{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 100vh; /* This ensures the card takes the full height of the viewport */

}

.centerInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.ProfileMenu{
  background-color: #97B980;
 border-radius: 10px;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background:  #aec99b;
  padding: 1px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background:  #97B980;
}


.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle, .circle::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: #FF0055;
}

.circle::before {
  animation: mymove 2s infinite;
  position: absolute;
  background-color: #00FF00
}

@keyframes mymove {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}
